<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gráfico</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  </head>
  <body>

  <canvas id="productsChart" width="300" height="300" responsive="true"></canvas>

    <script>
    var ctx = document.getElementById("productsChart");

    var productsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["10/07/2018", "11/07/2018", "12/07/2018", "13/07/2018", "14/07/2018", "15/07/2018", "16/07/2018", "17/07/2018", "18/07/2018", "19/07/2018"],
            datasets: [{
                label: 'Produtos',
                data: [3.8474, 3.8671, 3.8579, 3.8745, 3.8745, 3.8745, 3.8564, 3.8417, 3.8452,3.8692, 3.9264],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
  </body>
</html>
